body {
    background-image: url(storage/img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

.cloud {
    width: 300px;
    position: absolute;
    top: 0;
    left: 1200px;
    animation: moveCloud 20s ease-in;
}

.cloud img {
    width: 100%;
}

@keyframes moveCloud {
    40% {
        left: 600px;
    }

    50% {
        left: 600px;

    }

    100% {
        left: 0;
    }
}

.raindrop,
.raindrop2,
.raindrop3 {
    width: 80px;
    position: absolute;
    left: 620px;
    top: 20%;
    animation-name: rain;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 8s;
    opacity: 0;
}

.raindrop2 {
    left: 700px;
    animation-delay: 10s;
}

.raindrop3 {
    left: 780px;
    animation-delay: 9s;
}

.raindrop img,
.raindrop2 img,
.raindrop3 img {
    width: 100%;
}

@keyframes rain {
    20% {
        opacity: 100%;

    }

    60% {
        opacity: 50%;
    }

    100% {
        opacity: 0;
        top: 80%;
    }
}

.flor {
    animation-name: flor;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 12s;
    opacity: 0;
}

.flor img {
    position: absolute;
    width: 100px;
    bottom: 70px;

}

.flor img:nth-child(1) {
    right: 600px;
}

.flor img:nth-child(2) {
    bottom: 60px;
    right: 500px;
}

.flor img:nth-child(3) {
    right: 550px;
}

.flor img:nth-child(4) {
    bottom: 60px;
    right: 650px;
}

@keyframes flor {
    0% {
        opacity: 0;
        top: 80%;
    }

    100% {
        opacity: 1;
        top: 100%;
    }
}


.sun {
    width: 200px;
    animation-name: rotateSun;
    animation-duration: 5s; /* Duración de la animación */
    animation-timing-function: linear;
    animation-iteration-count: infinite; /* Repite la animación indefinidamente */
  }
  .sun img {
    width: 100%;
}
  @keyframes rotateSun {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.mensaje {
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    animation-name: mensaje;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-delay: 12s;
}

@keyframes mensaje {
    100%{
        opacity: 1;
    }
}